@import './vars.scss';
@import './mixin.scss';
@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova-Regular.eot');
    src: url('../../fonts/ProximaNova-Regular.eot') format('embedded-opentype'), url('../../fonts/ProximaNova-Regular.woff') format('woff'), url('../../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova-Bold.eot');
    src: url('../../fonts/ProximaNova-Bold.eot') format('embedded-opentype'), url('../../fonts/ProximaNova-Bold.woff') format('woff'), url('../../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

::-moz-selection {
    background-color: rgba(68, 198, 151, 0.4784313725);
}

::selection {
    background-color: rgba(68, 198, 151, 0.4784313725);
}

*,
:after,
:before {
    box-sizing: border-box;
}

:active,
:focus,
a:active,
a:focus {
    outline: 0;
}

aside,
footer,
header,
nav {
    display: block;
}

body {
    background-color: $COLOR__WHITE;
    font-family: 'Proxima Nova';
    font-weight: 700;
}

body,
html {
    height: 100%;
    width: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

button,
input,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:hover,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1820px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 14px 46px;
    background-color: $COLOR__GREEN;
    border-radius: 3px;
    text-transform: uppercase;
    @include font(18px,
    700,
    125%,
    $COLOR__WHITE);
}

.h2 {
    position: relative;
    @include font(48px,
    700,
    60px,
    $COLOR__DARKBLUE);
    &::before {
        content: '';
        position: absolute;
        left: -5px;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
        width: 20px;
        height: 80%;
        background-color: $COLOR__GREEN;
    }
}

.h3 {
    @include font(36px,
    700,
    45px,
    $COLOR__WHITE)
}

.h4 {
    text-transform: uppercase;
    @include font(24px,
    700,
    30px,
    $COLOR__DARKBLUE);
}

.text-s {
    @include font(18px,
    400,
    22.5px,
    $COLOR__WHITE);
}

.text-n {
    text-transform: uppercase;
    @include font(18px,
    700,
    22.5px,
    $COLOR__DARKBLUE);
}

.before-line {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 100%;
        background-color: $COLOR__GREEN;
    }
}

.before-line {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 15px;
        height: 100%;
        background-color: $COLOR__GREEN;
    }
}