.header-top
    .container
        .header-contacts
            .social-links__wrap
                span Ми в соціальних мережах:
                ul.social-links-list
                    li.social-links-item
                        a(href="#") 
                            include ../../img/icons/tg.svg
                    li.social-links-item
                        a(href="#") 
                            include ../../img/icons/facebook.svg
                    li.social-links-item
                        a(href="#") 
                            include ../../img/icons/instagram.svg
            a(href="#").phone-number__wrap
                include ../../img/icons/smartphone.svg
                span.phone (099) 111 22 33
                include ../../img/icons/arr-down.svg
        nav.nav
            ul.nav-list
                li.nav-item
                    a(href="#").text-n.nav-active Головна
                li.nav-item
                    a(href="#").text-n АкцІї
                li.nav-item
                    a(href="#").text-n Доставка та оплата
                li.nav-item
                    a(href="#").text-n Про нас
                li.nav-item
                    a(href="#").text-n Контакти
.header-bottom
    .container
        ul.menu-list
            li.menu-item
                span.text-n Дивани
                include ../../img/icons/arr-down-s.svg
            li.menu-item
                span.text-n Ліжка
                include ../../img/icons/arr-down-s.svg
            li.menu-item
                span.text-n Крісла
                include ../../img/icons/arr-down-s.svg
            li.menu-item
                span.text-n Комоди
                include ../../img/icons/arr-down-s.svg
            li.menu-item
                span.text-n Шафи
                include ../../img/icons/arr-down-s.svg
            li.menu-item
                span.text-n Кухня
                include ../../img/icons/arr-down-s.svg
        a(href="#").wrap-logo
            include ../../img/logo.svg
        .cart-section
            button#cart
                include ../../img/icons/basket.svg
                span.text-n Кошик
            button.btn Замовити дзвінок