.slider-section
    .swiper-bg
        .swiper-wrapper
            .swiper-slide
                img(src="../../img/slider/slider-img1.webp", alt="slider-img1")
            .swiper-slide
                img(src="../../img/slider/slider-img1.webp", alt="slider-img1")
            .swiper-slide
                img(src="../../img/slider/slider-img1.webp", alt="slider-img1")
    .container
        .swiper-info__wrapp.before-line
            .swiper-info
                .swiper-wrapper
                    .swiper-slide
                        span.slide-title Новинка!
                        h3.h3 Ліжко Ornella
                        p.slide-text Це новий рівень комфортного сну
                        a(href="#").btn Детальніше
                    .swiper-slide
                        span.slide-title Новинка!
                        h3.h3 Ліжко Ornella
                        p.slide-text Це новий рівень комфортного сну
                        a(href="#").btn Детальніше
                    .swiper-slide
                        span.slide-title Новинка!
                        h3.h3 Ліжко Ornella
                        p.slide-text Це новий рівень комфортного сну
                        a(href="#").btn Детальніше
            .swiper-pagination-fraction
            .swiper-navigation
                .swiper-button-prev
                    include ../../img/icons/slider-arr-left.svg
                .swiper-button-next
                    include ../../img/icons/slider-arr-right.svg
            